body {
    overflow-x: hidden;

    width: 100vw;
    min-height: 100vh;

    background: linear-gradient(180deg, #293042, #1d2333);

    color: #f7f7f7;
    font-family: monospace;
    font-size: 1.2em;
}

/*===============COLOR CLASS=============*/
.intColor{
    color: #8181ff;
}.booleanColor{
    color: #ff8181;
}.stringColor{
    color: #b0ff81;
}
/*===============BASIC CLASS=============*/
hr {
    background: #E5E49D;
    height: 1px;
    width: 100%;
}
details{
    margin-block: 30px;
    width: 100%;
}
summary{
    font-size: 2em;
    color: #E5E49D;
    cursor: pointer;
}
pre {
    background: #393939;
    border: #575757 1px solid;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: antiquewhite;
    position: relative;
    text-shadow: none;

    word-wrap: break-word;
    white-space: pre-wrap;

}
kbd{

    background: #333e59;
    padding: 7px 14px;
    box-sizing: border-box;
    text-shadow: white 0 1px 1px;
    margin-inline: 25px;
}
/*=======================================*/
.container {
    width: 100%;
    height: 100%;

    padding: 130px;
    box-sizing: border-box;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.routeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.route {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 114px 60px;
    box-sizing: border-box;
}
.route .left, .route .right{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 45%;
    gap: 19px;
}
.routeName{

    color: #E5E49D;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;

}
.routeLink{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.route .json{
    position: absolute;

    font-size: 15px;
    top: 10px;
    right: 10px;


    color: #756c6c;
}
.route .json {
}


@media  only screen and (max-width: 1000px) {
    .container{

        padding: 60px;
    }
    .route{

        padding: 73px 10px;
    }
    .route .left,.route .right{
        width: 48%;
    }
}

@media  only screen and (max-width: 700px) {
    .route{

        flex-direction: column;
    }
    .route .left, .route .right {
        width: 100%;
    }
}

@media  only screen and (max-width: 500px) {
    .container{

        padding: 19px;
    }
}